<div class="container">
    <div class="row">
        <h4>Resource management</h4>
    </div>

    <div class="row">
        <div class="col-xs-2">
            <select id="operation" class="form-control" ng-model="operation">
                <option ng-repeat="method in methods" value="{{method.value}}">{{method.text}}</option>
            </select>
        </div>

        <div class="col-xs-2">
            <input type="text"
                   id="username"
                   class="form-control"
                   placeholder="Username"
                   ng-model="username">
        </div>

        <div class="col-xs-2">
            <input type="password"
                   id="password"
                   class="form-control"
                   placeholder="Password"
                   ng-model="password">
        </div>

        <div class="col-xs-2">
            <input type="text"
                   id="file"
                   class="form-control"
                   placeholder="Resource name"
                   ng-model="name">
        </div>

        <div class="col-xs-2">
            <select id="type" class="form-control" ng-model="type" ng-show="operation == 0">
                <option ng-repeat="type in types" value="{{type.value}}">{{type.text}}</option>
            </select>
        </div>
    </div>

    <div class="row"></div>

    <div class="row">
        <div class="col-xs-2">
            <select id="permission" class="form-control" ng-model="permission" ng-show="operation == 3">
                <option ng-repeat="permission in rights" >{{permission}}</option>
            </select>
        </div>

        <div class="col-xs-2">
            <input type="text"
                   id="value"
                   class="form-control"
                   placeholder="Content"
                   ng-model="content" ng-show="operation == 0 || operation == 2>
        </div>
    </div>

    <div class="row">
        <div class="col-md-8 center-block">
            <button type="button" class="btn btn-success" ng-click="run()">Run</button>
        </div>
    </div>
</div>